USE [QLBH]
GO
/****** Object:  Table [dbo].[CHITIETHOADONXUAT]    Script Date: 3/22/2018 4:57:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADONXUAT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SOHOADON] [int] NOT NULL,
	[MAHANG] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[GIABAN] [bigint] NOT NULL,
	[GIANHAP] [bigint] NOT NULL,
 CONSTRAINT [PK_CHITIETHOADONXUAT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONVITINH]    Script Date: 3/22/2018 4:57:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONVITINH](
	[MADONVITINH] [int] IDENTITY(1,1) NOT NULL,
	[TENDONVITINH] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DONVITINH] PRIMARY KEY CLUSTERED 
(
	[MADONVITINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADONXUAT]    Script Date: 3/22/2018 4:57:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONXUAT](
	[SOHOADON] [int] IDENTITY(1,1) NOT NULL,
	[MAKHACHHANG] [int] NOT NULL,
	[NGAYDATHANG] [datetime] NOT NULL,
	[NGAYGIAOHANG] [datetime] NOT NULL,
	[DIADIEM] [nvarchar](100) NULL,
	[THANHTIEN] [bigint] NOT NULL,
	[TIENLOI] [bigint] NULL,
	[MANHANVIEN] [int] NULL,
 CONSTRAINT [PK__DONDATHA__E0850E961273C1CD] PRIMARY KEY CLUSTERED 
(
	[SOHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 3/22/2018 4:57:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACHHANG] [int] IDENTITY(1,1) NOT NULL,
	[TENKHACHHANG] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[DIENTHOAI] [nvarchar](13) NULL,
	[FAX] [nvarchar](13) NULL,
 CONSTRAINT [PK__KHACHHAN__30035C2F164452B1] PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIHANG]    Script Date: 3/22/2018 4:57:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIHANG](
	[MALOAIHANG] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAIHANG] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__LOAIHANG__BF613CFB07020F21] PRIMARY KEY CLUSTERED 
(
	[MALOAIHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MATHANG]    Script Date: 3/22/2018 4:57:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATHANG](
	[MAHANG] [int] IDENTITY(1,1) NOT NULL,
	[BARCODE] [nchar](13) NULL,
	[TENHANG] [nvarchar](50) NULL,
	[TENHANGKHONGDAU] [nvarchar](50) NULL,
	[MANHACUNGCAP] [int] NULL,
	[MALOAIHANG] [int] NULL,
	[MADONVITINH] [int] NULL,
	[SOLUONG] [int] NULL,
	[GIANHAP] [bigint] NULL,
	[GIABAN] [bigint] NULL,
	[NGAYCAPNHAT] [datetime] NULL,
 CONSTRAINT [PK__MATHANG__3214EC2703317E3D] PRIMARY KEY CLUSTERED 
(
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 3/22/2018 4:57:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANHACUNGCAP] [int] IDENTITY(1,1) NOT NULL,
	[TENNHACUNGCAP] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[DIENTHOAI] [nvarchar](13) NULL,
	[FAX] [nvarchar](13) NULL,
 CONSTRAINT [PK__NHACUNGC__6B97F3F57F60ED59] PRIMARY KEY CLUSTERED 
(
	[MANHACUNGCAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 3/22/2018 4:57:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENDN] [nvarchar](100) NOT NULL,
	[MATKHAU] [nvarchar](1000) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[DIENTHOAI] [nvarchar](15) NULL,
	[DIACHI] [nvarchar](500) NULL,
	[CHUCVU] [int] NULL,
	[TRANGTHAI] [int] NULL,
	[NGAYTAO] [datetime] NULL,
	[NGAYCAPNHAT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [DIACHI], [EMAIL], [DIENTHOAI], [FAX]) VALUES (1, N'Vãng Lai', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([ID], [TENDN], [MATKHAU], [HOTEN], [DIENTHOAI], [DIACHI], [CHUCVU], [TRANGTHAI], [NGAYTAO], [NGAYCAPNHAT]) VALUES (1, N'admin', N'123456', N'ADMIN', NULL, NULL, 1, 1, CAST(N'2018-03-22 16:43:01.710' AS DateTime), CAST(N'2018-03-22 16:43:01.710' AS DateTime))
INSERT [dbo].[NHANVIEN] ([ID], [TENDN], [MATKHAU], [HOTEN], [DIENTHOAI], [DIACHI], [CHUCVU], [TRANGTHAI], [NGAYTAO], [NGAYCAPNHAT]) VALUES (2, N'nhanvien', N'123456', N'Nhân Viên', NULL, NULL, 2, 1, CAST(N'2018-03-22 16:43:01.713' AS DateTime), CAST(N'2018-03-22 16:43:01.713' AS DateTime))
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
ALTER TABLE [dbo].[CHITIETHOADONXUAT] ADD  CONSTRAINT [DF_CHITIETDATHANG_GIABAN]  DEFAULT ((0)) FOR [GIABAN]
GO
ALTER TABLE [dbo].[HOADONXUAT] ADD  CONSTRAINT [DF_DONDATHANG_THANHTIEN]  DEFAULT ((0)) FOR [THANHTIEN]
GO
ALTER TABLE [dbo].[HOADONXUAT] ADD  CONSTRAINT [DF_DONDATHANG_TIENLOI]  DEFAULT ((0)) FOR [TIENLOI]
GO
ALTER TABLE [dbo].[CHITIETHOADONXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDATHANG_DONDATHANG] FOREIGN KEY([SOHOADON])
REFERENCES [dbo].[HOADONXUAT] ([SOHOADON])
GO
ALTER TABLE [dbo].[CHITIETHOADONXUAT] CHECK CONSTRAINT [FK_CHITIETDATHANG_DONDATHANG]
GO
ALTER TABLE [dbo].[CHITIETHOADONXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADONXUAT_MATHANG] FOREIGN KEY([MAHANG])
REFERENCES [dbo].[MATHANG] ([MAHANG])
GO
ALTER TABLE [dbo].[CHITIETHOADONXUAT] CHECK CONSTRAINT [FK_CHITIETHOADONXUAT_MATHANG]
GO
ALTER TABLE [dbo].[HOADONXUAT]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHANG_KHACHHANG] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[HOADONXUAT] CHECK CONSTRAINT [FK_DONDATHANG_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADONXUAT]  WITH CHECK ADD  CONSTRAINT [FK_HOADONXUAT_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[HOADONXUAT] CHECK CONSTRAINT [FK_HOADONXUAT_NHANVIEN]
GO
ALTER TABLE [dbo].[MATHANG]  WITH CHECK ADD  CONSTRAINT [FK_MATHANG_DONVITINH] FOREIGN KEY([MADONVITINH])
REFERENCES [dbo].[DONVITINH] ([MADONVITINH])
GO
ALTER TABLE [dbo].[MATHANG] CHECK CONSTRAINT [FK_MATHANG_DONVITINH]
GO
ALTER TABLE [dbo].[MATHANG]  WITH CHECK ADD  CONSTRAINT [FK_MATHANG_LOAIHANG] FOREIGN KEY([MALOAIHANG])
REFERENCES [dbo].[LOAIHANG] ([MALOAIHANG])
GO
ALTER TABLE [dbo].[MATHANG] CHECK CONSTRAINT [FK_MATHANG_LOAIHANG]
GO
ALTER TABLE [dbo].[MATHANG]  WITH CHECK ADD  CONSTRAINT [FK_MATHANG_NHACUNGCAP] FOREIGN KEY([MANHACUNGCAP])
REFERENCES [dbo].[NHACUNGCAP] ([MANHACUNGCAP])
GO
ALTER TABLE [dbo].[MATHANG] CHECK CONSTRAINT [FK_MATHANG_NHACUNGCAP]
GO
/****** Object:  Trigger [dbo].[Tg_Update_MatHang]    Script Date: 3/22/2018 4:57:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------TRIGGER
---------------------------TRIGGER
---------------------------TRIGGER
---------------------------TRIGGER
/****** Object:  Trigger [Tg_Update_MatHang]    Script Date: 09/28/2014 12:12:59 ******/
CREATE trigger [dbo].[Tg_Update_MatHang]
on [dbo].[CHITIETHOADONXUAT]
for insert
as
	IF @@ROWCOUNT = 1
		BEGIN
			Declare @SOLUONG int
			Declare @MAHANG int
			Set @SOLUONG = (select SOLUONG from inserted)
			Set @MAHANG = (select MAHANG from inserted)
			Update MATHANG Set SOLUONG = SOLUONG - @SOLUONG where MAHANG = @MAHANG
		END
	ELSE
		BEGIN
			Update m
			Set m.SOLUONG = m.SOLUONG - i.SOLUONG
			from MATHANG m
			join inserted i on i.MAHANG = m.MAHANG
		END

GO
/****** Object:  Trigger [dbo].[Tg_Update_MatHang_Delete_CTHDX]    Script Date: 3/22/2018 4:57:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[Tg_Update_MatHang_Delete_CTHDX]
on [dbo].[CHITIETHOADONXUAT]
for DELETE
as
	IF @@ROWCOUNT = 1
		BEGIN
			Declare @SOLUONG int
			Declare @MAHANG int
			Set @SOLUONG = (select SOLUONG from deleted)
			Set @MAHANG = (select MAHANG from deleted)
			Update MATHANG Set SOLUONG = SOLUONG + @SOLUONG where MAHANG = @MAHANG
		END
	ELSE
		BEGIN
			Update m
			Set m.SOLUONG = m.SOLUONG + d.SOLUONG
			from MATHANG m
			join deleted d on d.MAHANG = m.MAHANG
		END

GO
